@import compass
@import partials/variables
@import partials/normalize
@import partials/base
@import _sidenav

body
	background: $backgroundColor
	color: $textColor

a
	text-decoration: none
	color: lightblue

.center-text
	padding-top: 0px
	padding-bottom: 0px
	padding-left: 200px
	padding-right: 200px
	text-align: center
	line-height: 30px

.center-image
	display: block
	margin-left: auto
	margin-right: auto

.parallax
	position: relative
	height: 400px
	background:
		image: url(../imgs/octocat.jpg)
		size: contain
		position: top center
		attachment: fixed
	z-index: 1

.title
	padding-top: 30px
	padding-bottom: 0px
	font-size: 20px
	color: $textColor

#content-wrap
	transition: margin-left .5s
	padding: 20px

	> p
		font-size: 1.5vw

	#copyright
		font-size: 12px

#nitro
	text-decoration: underline
#pauseMusic
	display: none

@media screen and (max-height: 450px)
	.sidenav
		padding-top: 15px
		> a
			font-size: 18px
