*
	font-family: 'Source Code Pro', monospace
	text-shadow: rgba(0,0,0,.01) 0 0 1px
	font-smooth: always

.content-wrap
	background-color: #777

.center-text
	padding-top: 0px
	padding-bottom: 0px
	padding-left: 200px
	padding-right: 200px
	text-align: center

.center-image
	display: block
	margin-left: auto
	margin-right: auto

body
	margin: 0px
	padding: 0px

.title
	padding-top: 30px
	padding-bottom: 40px
	background-color: #333
	font-size: 20px
	color: #aaa

#copyright
	font-size: 11px

// for all drop down menus
nav#drop-down
	padding: 50px
	text-align: center

	> ul
		list-style: none
		padding: 0
		margin: 0
		display: inline-block
		background: #d5d5d5
		border-radius: 5px
		> li
			float: left
			width: 150px
			height: 65px
			line-height: 65px
			position: relative
			font-size: 14px
			color: rgba(40,0,0,0.7)
			cursor: pointer

			&:hover
				background: #ddd
				border-radius: 5px
ul.drop-down
	position: absolute
	top: 100%
	width: 100%
	left: 0%
	padding: 0
	li
		background: #666
		color: rgba(255,255,255,0.7)

		&:hover
			background: #606060
		&:last-child
			border-radius: 0px 0px 5px 5px
ul.menu-1 li
	display: none
li:hover > ul.drop-down li
	display: block
