*
	font-family: 'Ubuntu', sans-serif
	text-shadow: rgba(0,0,0,.01) 0 0 1px
	font-smooth: always
.center-text
	padding-left: 200px
	padding-right: 200px
	text-align: center

#copyright
	font-size: 11px
